@use 'variables'

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*
 margin: 0 auto 
 padding: 0
 background-color: variables.$bg-color
 font-family: "Nunito", sans-serif
 font-optical-sizing: auto
 font-weight: 30
 font-style: normal

@mixin container 
 display: flex 
 flex-wrap: wrap
 justify-content: space-between   
 margin-top: 5%

.title 
 text-align: center  
 margin: auto
 color: variables.$title-color

section
 @include container
    
a
 text-decoration: none 
 color: variables.$primary-color     
 font-size: 1.5rem

.card 
 width:200px
 height:240px
 border: variables.$border-color 0.5px solid
 transition: .4s 
 text-align: center
 padding:20px
 &:nth-child(2)
   border: variables.$description 0.5px solid
 &:nth-child(3)
   border: variables.$secondary-color 0.5px solid

 &:hover 
   scale: 1.1
   
 &-title   
  font-size: 1.2rem
  color: variables.$primary-color
   
 img
  margin-top:2%     
  border-radius:50% 
  width:150px
  height:150px
        
 
.btn
  color: white
  text-decoration: none
  letter-spacing: 2.8px
  background-color: #1b8bf9
  padding: 15px 50px
  border-radius: 5rem
  box-shadow: 1px 2.9px 16px rgba(27, 139, 249, 0.4)
  margin-top: 10px   
  

.description
 opacity:0 
 color: variables.$description
 height:50px  
 overflow: hidden
 max-width:300px
 transition: .4s      

.tecnologias
  list-style-type: circle 
  font-weight: 500px
  margin: 10px
  color: variables.$primary-color
  
li 
 color: variables.$primary-color   
 
.links 
 width: 200px
 height:50px
 border: 3px solid red 
nav 
 display: grid 
 justify-content: center
 width: 70%
 &:nth-child(1)
   background-color: green   
 a 
  margin: 20px

 
div 
   h2 
    color: variables.$secondary-color