@use 'variables'

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*
 margin: 0 auto 
 padding: 0
 background-color: variables.$bg-color
 font-family: "Nunito", sans-serif
 font-optical-sizing: auto
 font-weight: 30
 font-style: normal
 
nav 
  gap: 14px
   
a
 text-decoration: none 
 color: variables.$primary-color     

.card 
 width:300px
 height:auto
 border: variables.$border-color 0.5px solid
 transition: .4s 
 text-align: center
 padding:20px
   
 &:hover 
   scale: 1.1
   
 &-title   
  font-size: 1.2rem
  color: #fff
   
 img
  margin-top:2%     
  border-radius:50% 
  width:150px
  height:150px
        
h2 
  width:200px
  color: variables.$secondary-color 
  height:50px 
  overflow: hidden  
  margin: 10px
.content 
 display: flex
 justify-content: space-between 

.btn
  color: white
  text-decoration: none
  letter-spacing: 2.8px
  background-color: #1b8bf9
  padding: 15px 50px
  border-radius: 5rem
  box-shadow: 1px 2.9px 16px rgba(27, 139, 249, 0.4)
  margin-top: 10px   
  

.description
 opacity:0 
 color: variables.$description
 height:50px  
 overflow: hidden
 max-width:300px
 transition: .4s      

.tecnologias
  list-style-type: circle 
  font-weight: 500px
  margin: 10px
  color: variables.$primary-color

@media screen and (max-width: 720px)
  .content
    display: inline